<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!-- Ubicación del JAR JDBC del gestor de Base de datos a usar, en este caso MySQL  -->
  <classPathEntry location="C:/Users/jduran5/.m2/repository/org/postgresql/postgresql/42.3.6/postgresql-42.3.6.jar" />

  <!--  Generaremos para MyBatis versión 3 -->
  <context id="Test" targetRuntime="MyBatis3">
    
    <!-- No generamos los comentarios -->
    <commentGenerator>
      <property name="suppressAllComments" value="true"/>
    </commentGenerator>
    
      <!--  Parámetros de conexión a la bd 
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
        connectionURL="jdbc:mysql://localhost:3306/Test"
        userId="root"
        password="root">
    </jdbcConnection>
    
-->    
 	<jdbcConnection 
 	   		connectionURL="jdbc:postgresql://127.0.0.1:5432/test"
            driverClass="org.postgresql.Driver" password="pwdpostgres"
            userId="postgres">
 	
    </jdbcConnection>
	    
    <javaModelGenerator 

     targetPackage="com.tecnoratones.mgtest.model" targetProject="MGTest">
      <property name="enableSubPackages" value="true" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="com.tecnoratones.mgtest.dao"  targetProject="MGTest">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>
    
    
	<!-- También podríamos indicar el tipo ANNOTATEDMAPPER -->
    <javaClientGenerator type="XMLMAPPER" targetPackage="com.tecnoratones.mgtest.dao"  targetProject="MGTest">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>
  <!--   
    <table schema="public" tableName="Usuarios" delimitIdentifiers="true">
    </table>
  -->
    <table schema="test" tableName="Usuarios" delimitIdentifiers="true"  domainObjectName="Usuarios" > 
      <property name="useActualColumnNames" value="true"/>
      <generatedKey column="ID" sqlStatement="SELECT LAST_INSERT_ID()" identity="true" />
    </table>
     
    
  </context>
</generatorConfiguration>
